html {
	overflow: scroll;
}
body {
	overflow: scroll;
}
#header {
	width: 100%;
	height: 130px;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	font-family: "Helvetica";
	text-shadow: 2px 2px #49F3D1;
	background-image: linear-gradient(blue, #DCDCDC);

}
#left {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 130px;
	text-align: center;
	left: 0px;
	font-size: 1.3em;
	background-color: #DCDCDC;
	
}
#photo{
	width: 40%;
	height: 30%;
	position: fixed;
	top: 240px;
	text-align: center;
	
}
#photoDescription {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 540px;
	text-align: center;
	font-size: 1.2em;
}
#right {
	width: 60%;
	height: 100%;
	position: fixed;
	top: 130px;
	right: 0px;
	background-color: #DCDCDC;
	
}
#rightTitle {
	text-align: center;
	margin-right: 100px;
	margin-top: 80px;
}
#mainText {
	position: fixed;
	margin-right: 100px;
	left: 45%;
}
.textFormat {
	text-indent: 30px;
}
.imageDisplay{
	margin-left: 30px;
}
.favouriteImage {
	width: 280px;
	height: 210px;
	margin-left: 20px;
}
#resume {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 130px;
/*	text-align: center;*/
	left: 0px;
	background-color: #DCDCDC;
	overflow: scroll;
}
#resumeText {
/*	position: fixed;*/
	margin-left: 400px;
	margin-right: 400px;	
/*	overflow: scroll;*/
	height: 150%;
}
.subtitle {
	font-size: 1.3em;
	font-style: italic;
}
#leftPhoto {
	width: 400px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.collegeModule {
	width: 100%;
	height: 5.5%;
}
.college {
/*	position: fixed;*/
	font-weight: bold;
	font-size: 1.0em;
	width: 33%;
	left: 0;
}
.location {
	position: absolute;
	width: 50%;
	font-size: 1.0em;
	font-style: italic;
}
.date {
	position: absolute;
	left: 60%;
	width: 50%;
	font-size: 1.0em;
	font-style: italic;
}